
label {
    margin-left: 75px;
    font-size: 20px;
}

label input {
    border: solid black 3px;
}

h1 {
    text-align: center;
    color: black;
    font-size: 50px;

}

body {
    background-color: tan;
}

#addEmp {
    margin-top: 250px;
    margin-left: 500px;
    font-size: 20px;
    background-color: green;
    border: solid black 5px;
}

#calcStats {
    margin-top: 250px;
    margin-left: 500px;
    font-size: 20px;
    background-color: green;
    border: solid black 5px;
}

#resetButton {
    margin-top: 360px;
    font-size: 25px;
    position: sticky;
    margin-left: 1700px;
    background-color: red;
    border: solid black 5px;
}

h2 {

    margin-left: 500px;
}

#stats {
    position: absolute;

    margin-left: 700px;
}

button1 {
    background-color: red;
    border: solid black 5px;
    color: black;
    font-size: 20px;
}

li {
    position: relative;
    font-size: 20px;
    margin-top: 10px;
    flex-direction: column;
    font-family: "Roboto Condensed", sans-serif;


}

h3 {
    position: sticky;
    margin-left: 240px;
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;

}